/* css that applies to all pages. Font, background color, and navbar styling */
* {
  font-family: Roboto;
}

body {
  background-color: #FBFBFB;
  margin:0;
}

nav {
  box-shadow: 5px 5px #BABABA;
}
